@model IEnumerable<API.DTOS.Employees.GetEmployeeDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="Employee/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           @* <th >
                @Html.DisplayNameFor(model => model.Guid)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NIK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Guid)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NIK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                 <form action="/Employee/Edit" method="get">
                        <input type="hidden" value="@item.Guid" name="guid" />
                        <input type="submit" value="Edit" class="btn btn-primary" onclick="return true" />
                 </form>
                 <form action="/Employee/Delete" method="post" onsubmit="return confirm('Apakah Anda Yakin Ingin menghapus data ini?')">
                    <input type="hidden" value="@item.Guid" name="guid"/>
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return true"/>
                 </form>
            </td>
        </tr>
}
    </tbody>
</table>
